.bundle
.env
.env.*
.DS_Store
.obsidian/
/log/*
/tmp/*
/storage/*
/vendor/bundle
/vendor/cache
/public/assets
/tmp/pids/*
/tmp/cache/*
/tmp/storage/*
/tmp/sockets/*
/node_modules
/coverage
/config/master.key
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/cache
!/tmp/cache/.keep
!/tmp/storage
!/tmp/storage/.keep
!/storage/.keep
!/vendor/.keep
